.projects {
    max-width: 1200px;
    margin: 0 auto;
}

.projects-layout {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 500px;
}

.project-list-item {
    padding: 18px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-right: 1px solid var(--gray);
}

.project-list-item h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.project-list-item.active {
    border-right: 3px solid var(--white);
    padding-right: 18px;
}

.stack {
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--white);
}

.stack-item {
    margin-right: 6px;
}

.project-preview {
    flex: 1;
    padding: 20px;
    text-align: left;
    height: 450px;
    width: 500px;
    overflow-y: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project-preview.fade-in {
    opacity: 1;
}

.project-preview.fade-out {
    opacity: 0;
}

.preview-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

.project-links {
    margin-top: 35px;
}

.aButton {
    padding: 8px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 3px;
    transition: 0.2s;
    margin-right: 12px;
}

.aButton:hover {
    color: var(--black);
    box-shadow: 0 0 3px 3px var(--white);
}
